@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900,500);

div[role=note] {
  display: none;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: gray;
  opacity: 0.85;
  padding: 20px;
  font-size: 12px;
  width: 100%;
}
a {
  text-decoration: none;
}
a:visited {
  color: #0000EE;
}

td {
  border-left: 0;
  border-right: 0;
}

#library-related-schemaorg tr {
  border-collapse: collapse;
}

#library-related-schemaorg tr.even {
  background-color: #F5F4ED;
}
#library-related-schemaorg td:nth-child(3) {
  padding-left: 10px;
}

section {
  font-family: 'Roboto', sans-serif;
}

body {
  border-radius: 0;
}

h1 {

}

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#progress-bar {
    height: 5px;
    background: #AAA;
}

/*dark*/
#first,
#semantics,
#embedded-semantic-markup,
#trapped-knowledge,
#types-semantic-markup,
#vocabs-understanding,
#schemaorg1,
#examples,
#why-schemaorg,
#research,
#pay-level-domain,
#general-academic-institution-stats,
#semantic-web-question,
#how-to-get-esm,
#crawl-2013,
#end-of-dumb,
#libraries-as-both,
#future-possibilities,
#improve-discoverability,
#save-time {
  background-color: #1C1C1C;
  color: white;
}

/*glow*/
#schemaorg1,
#semantics,
#trapped-knowledge,
#embedded-semantic-markup,
#vocabs-understanding,
#examples,
#research,
#pay-level-domain h1,
#general-academic-institution-stats,
#how-to-get-esm,
#crawl-2013,
#end-of-dumb,
#libraries-as-both,
#future-possibilities,
#improve-discoverability,
#save-time  {
  text-shadow: -1px 1px 8px #cc0000, 1px -1px 8px #cc0000;
}

/* BIG takahashi*/
#semantics h1,
#trapped-knowledge h1,
#embedded-semantic-markup h1,
#vocabs-understanding h1,
#schemaorg1 h1,
#examples h1,
#why-schemaorg h1,
#research h1,
#pay-level-domain h1,
#general-academic-institution-stats h1,
#crawl-2013 h1,
#end-of-dumb h1,
#libraries-as-both h1,
#future-possibilities h1,
#improve-discoverability h1,
#save-time h1 {
  font-size: 100px;
  font-weight: 500;
}
#semantics h1,
#schemaorg1 h1,
#research h1,
#crawl-2013 h1 {
  margin-top: 20%;
}
#trapped-knowledge h1,
#embedded-semantic-markup h1,
#vocabs-understanding h1,
#why-schemaorg h1,
#pay-level-domain h1,
#how-to-get-esm h1,
#end-of-dumb h1,
#future-possibilities h1,
#examples h1,
#save-time h1 {
  margin-top: 10%;
}
#how-to-get-esm h1 {
  font-size: 75px;
  font-weight: 500;
}

/*individual*/

#first a {
  color: white;
}

#schemaorg2 {
  font-family: Arial, sans-serif;
}

/*#vegan-cupcakes img {
  width: 100%;
  height: auto;
}*/

#common-crawl p,
#common-crawl h2 {
  padding-top: 0;
  padding-bottom: 0;
}
#spider {
  position: absolute;
  top: 0;
  right: 10px;
  height: 900px;
  display: block;
}

/* 2 columns */
#nc-state-peer-institutions ul {
  -moz-column-count:2; /* Firefox */
  -webkit-column-count:2; /* Safari and Chrome */
  column-count:2;
}
#nc-state-peer-institutions ul li {
  margin-bottom: 18px;
  line-height: 1em;
}

#common-crawl-urls h1,
#triple-count h1,
#library-unique-contexts h1 {
  margin:0;
  padding:0;
  font-size: 30px;
}

#percentage-cc-wdc table tr td {
  padding-left: 20px;
}
#percentage-cc-wdc table tr td:nth-child(3)  {
  padding-left: 120px;
}
#schemaorg-types table tr td:nth-child(3),
#edu-pld-triple-count table tr td:nth-child(3){
  padding-left: 50px;
}

#digital-collections-at-ncsu img {
  width: 30%;
}

#what-about-digital-collections p {
  text-align: center;
}
#what-about-digital-collections p {
  font-size: 2em;
}

#types-semantic-markup ul {
  margin-left: 35%;
}

#json-serialization pre {
  font-size: 0.8em;
}

#rdf-turtle pre {
  font-size: 0.7em;
  width: 100%;
}

/*
Animations
*/

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}
#semantic-web-question #question-yes,
#semantic-web-question #question-no {
  font-size: 3em;
  text-shadow: -1px 1px 8px #cc0000, 1px -1px 8px #cc0000;

}
#semantic-web-question #question-yes {
  opacity: 0;
  -webkit-animation: fadeOut 3s, fadeIn 3s infinite;
  animation: fadeOut 3s, fadeIn 3s infinite;
}
#semantic-web-question #question-no {
  -webkit-animation: fadeIn 3s, fadeOut 3s infinite;
  animation: fadeIn 3s, fadeOut 3s infinite;
}


@-webkit-keyframes spider {
    0% {top: 0px;}
    100% {top: 500px;}
}
@-moz-keyframes spider {
    0% {top: 0px;}
    100% {bottom: 0px;}
}
@-o-keyframes spider {
    0% {top: 0px;}
    100% {bottom: 0px;}
}
@keyframes spider {
    0% {top: 0px;}
    100% {bottom: 0px;}
}
#spider img {
  position: relative;
  animation-name:spider;
  animation-duration:30s;
  animation-timing-function:linear;
  animation-delay:3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;
  /* Safari and Chrome: */
  -webkit-animation-name:spider;
  -webkit-animation-duration:30s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state:running;
}



#how-search-engines-work p {
  width: 100%;
}
@-webkit-keyframes slide_back {
    0% {left: 0px;}
    100% {left: 80%;}
}
@-moz-keyframes slide_back {
    0% {left: 0px;}
    100% {left: 80%;}
}
@-o-keyframes slide_back {
    0% {left: 0px;}
    100% {left: 80%;}
}
@keyframes slide_back {
    0% {left: 0px;}
    100% {left: 80%;}
}
#how-search-engines-work img,
#esm-for-machines img {
  position: relative;
  animation-name:slide_back;
  animation-duration:5s;
  animation-timing-function:linear;
  animation-delay:2s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  animation-play-state:running;
  /* Safari and Chrome: */
  -webkit-animation-name:slide_back;
  -webkit-animation-duration:5s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  -webkit-animation-play-state:running;
}


